/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
img {
    width: 100%;
}

/* COMMON */
.container {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}
.gras {
    font-weight: 900;
}
.dry {
    font-weight: 300;
}
.black {
    color: black;
}
/* HEADER */
.header {
    height: 80px;
    text-align: center;
    padding-top: 10px;
    /* debug */
  
}
.header-title {
    font-family: "Nerko One";
    color: #FF9614;
    font-size:50px;
}
/* MAIN */
main {
    background-color: #F6F5F3;
    /* debug */
   
}
/* title-section */
.title {
    padding: 20px 0;
}
.maxi-title {
    color: #553D69;
    font-size: xx-large;
    font-weight: 700;
}
.mini-title {
    color: #A4A4A4;
    font-weight: 400;
    padding-bottom: 10px;
}
.maxi-title1 {
    display: none;
}
/* inbreve-section */
iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.inbreve-section ul {
    list-style: none;
    font-size: larger;
}
.inbreve-section ul li {
    padding: 10px 0;
    
} 
.inbreve-section {
    padding: 30px 20px;
    background-color: white;
    
}
.nome {
    padding-bottom: 20px;
}
/* icon-section */
.icon-section {
    display: flex;
    padding: 20px 0;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.icona {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    
}
.fb {
    color: #1A77F3;
}
.twi {
    color: #009EFF;
}
.insta {
    color: #E08096;
}
.pint {
    color:#E62222;
}
.yt {
    color: #E62222;
}
.icona-name {
    display: none;
}
/* BANNER SECTION */
.banner-section {
    display: none;
}
hr {
    color: #F7972E;
    width: 100px;
    
}
.title-presentation {
    padding-bottom: 20px;
}
.img-presentation {
    width: 60%;
    height: 50%;
    padding: 20px 0;
    display: inline-block;
    text-align: center;
}

/* FOOTER */